<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739495230326-4m3f8ce72ra0d8cj5g85afq7siia0oqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739495230326-4m3f8ce72ra0d8cj5g85afq7siia0oqk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739495230326-rbucloj51rvr4e4mja0kh66a54bn58jv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBD1PCWFqY5P1MmBfTuIBPtRrHL3F83EF0</string>
	<key>GCM_SENDER_ID</key>
	<string>739495230326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nhai.smartattendance</string>
	<key>PROJECT_ID</key>
	<string>nhai-smart-attendance</string>
	<key>STORAGE_BUCKET</key>
	<string>nhai-smart-attendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739495230326:ios:354b74899829c3b8cc1857</string>
	<key>DATABASE_URL</key>
	<string>https://nhai-smart-attendance.firebaseio.com</string>
</dict>
</plist>